<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>About Me</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about">
            <h1>About Me</h1>
            <p>Hello! I'm Yusuf, and I'm on an exciting journey of career transition from medicine to IT.</p>
            <p>I was born in Turkey in 1994. I started Cerrahpasa Medical School in 2013. After graduating in 2019, I embarked on a diverse medical career. I worked as a General Practitioner (GP), an Emergency Doctor, and a Public Health Doctor in Turkey, gaining valuable experience in patient care and public health initiatives.</p>
            <p>In August 2022, I achieved GMC (General Medical Council) registration, opening up new opportunities in the medical field. Subsequently, in February 2023, I joined the Cardiology department at the University Hospitals of Leicester as a Trust Grade Doctor, where I continued to expand my medical expertise.</p>
            <p>However, my passion for technology and IT led me to make a bold career change. In September 2023, I decided to pursue a career in the world of Information Technology. I'm now actively building my skills in IT and exploring exciting opportunities in this field.</p>
            <p>My journey reflects my adaptability, commitment to growth, and enthusiasm for tackling new challenges. I look forward to applying the problem-solving skills and dedication I developed in medicine to my IT endeavors.</p>
            <p>Thank you for visiting my portfolio website. Feel free to explore my projects and get in touch to discuss collaborations or opportunities.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 YBK. All rights reserved.</p>
    </footer>
</body>
</html>
