<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Welcome to My Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Welcome to My Portfolio Website</h1>
            <p>I'm Yusuf, a former medical professional turned aspiring IT enthusiast.</p>
            <a href="/about" class="btn">Learn More</a>
        </section>

        <section class="project">
            <h2>Morse Code Converter</h2>
            <p>Explore my project that converts text messages into Morse code:</p>
            <img src="{{ url_for('static', filename='images/morse_code.jpg') }}" alt="Morse Code Image">
            <p>With this project, you can easily encode your messages into Morse code and have fun learning this classic communication method.</p>
            <a href="/portfolio" class="btn">View Project</a>
        </section>

        <section class="project">
            <h2>PDF to Speech Converter</h2>
            <p>This Python project converts PDF files to speech audio. It can be used to create audiobooks, podcasts, or other audio content from text. I am particularly proud of this project because it solves a real-world problem for many people, such as those with visual impairments.</p>
            <a href="/portfolio/pdf-to-speech-converter" class="btn">View Project</a>
        </section>

        <section class="project">
            <h2>Breakout Game</h2>
            <div class="project-description">
                <p>This Python project is a classic Breakout Game developed using the Tkinter library. You can break bricks and score points while testing your reflexes and having fun!</p>
            </div>
            <a href="/portfolio/breakout-game" class="btn">View Project</a>
        </section>

        <section class="project">
            <h2>Tic-Tac-Toe</h2>
            <div class="project-description">
                <p>This project is a text-based implementation of the classic Tic-Tac-Toe game in Python. You can play against an AI opponent. Challenge your friends and see who wins!</p>
            </div>
            <a href="/portfolio/tic-tac-toe" class="btn">View Project</a>
        </section>

        <section class="project">
            <h2>To-Do List Website</h2>
            <div class="project-description">
                <p>Create, manage, and organize your tasks with this To-Do List Website. Keep track of your daily tasks and stay organized with a simple and user-friendly interface.</p>
            </div>
            <a href="/portfolio/to-do-list-website" class="btn">View Project</a>
        </section>


    </main>
    <footer>
        <p>&copy; 2023 YBK. All rights reserved.</p>
    </footer>
</body>
</html>
