<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Welcome to My Portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Welcome to My Portfolio Website</h1>
            <p>I'm Yusuf, a former medical professional turned aspiring IT enthusiast.</p>
            <a href="/about" class="btn">Learn More</a>
        </section>
        <section class="morse-code-project">
            <h2>Morse Code Converter</h2>
            <p>Explore my project that converts text messages into Morse code:</p>
            <img src="{{ url_for('static', filename='images/morse_code.jpg') }}" alt="Morse Code Image">
            <p>With this project, you can easily encode your messages into Morse code and have fun learning this classic communication method.</p>
            <a href="/portfolio" class="btn">View Project</a>
        </section>
        <section class="morse-code-project">
                <h2>Latest Projects</h2>
                <ul>
                    <li><a href="/portfolio/pdf-to-speech-converter">PDF to Speech Converter</a>
                        <p>This Python project converts PDF files to speech audio. It can be used to create audiobooks, podcasts, or other audio content from text. I am particularly proud of this project because it solves a real-world problem for many people, such as those with visual impairments.</p>
                    </li>
                    <li><a href="/portfolio/to-do-list-website">To-Do List Website</a></li>
                    <li><a href="/portfolio/breakout-game">Breakout Game</a></li>
                    <li><a href="/portfolio/tic-tac-toe">Tic-Tac-Toe</a></li>
                </ul>
            </section>

    </main>
    <footer>
        <p>&copy; 2023 YBK. All rights reserved.</p>
    </footer>
</body>
</html>
